- @pagetitle = "Staging Projects for #{@project}"

.row
  .col-xl-10
    .card.mb-3
      = render(partial: 'webui2/webui/project/tabs', locals: { project: @project })
      .card-body
        %h3= @pagetitle
        %table.table.table-striped.table-bordered.table-sm.responsive#staging-projects-table
          %thead
            %tr.text-center
              %th Project
              %th Requests
              %th Problems
          %tbody
            - @staging_workflow.staging_projects.includes(:staged_requests).each do |staging_project|
              %tr
                %td.text-center
                  - # TODO: Make this a link
                  = staging_project.name[/\A.*:Staging:(.*)/, 1]
                  %br
                  = staging_project.overall_state
                  %br
                  = progress(staging_project)
                %td
                  - if staging_project.classified_requests.count == 0
                    None
                  - else
                    - # FIXME: Only show a subset of the requests and add a 'more' option for showing the rest
                    = staging_project.classified_requests.map do |request|
                      - link_to(request[:package], request_show_path(request[:number]))
                    - end.join(', ').html_safe
                %td.broken-packages
                  = render partial: 'problems', locals: { project: staging_project }
  .col-xl-2
    = render partial: 'legend'
    = render partial: 'infos'



:javascript
  $('#staging-projects-table').DataTable({
    responsive: true
  });
